/* get bank page css code start here */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,::before,::after{
    box-sizing: border-box;
} */
/* html{
    scrollbar-color: #2a8fa1 #e9e8e8;
    scroll-behavior: smooth;
} */