@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.space {
    background-color: #e9e8e8;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: none !important;
    border: none !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: none !important;
}

/* top container start */
.container {
    max-width: 40% !important;
    padding: 20px;
    margin-top: 30px;
    border-radius: 12px;
    background-image: linear-gradient(#9349d8, #2a8fa1);
    line-height: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

main {
    box-sizing: border-box !important;
}

.space {
    padding: 24px 48px;
}

.wit-btn {
    border: #f8f9fa;
    background-color: #19db6a !important;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 8px 12px;
    border-radius: .25rem;
}

.wit-btn:hover {
    background-color: #07ac07 !important;
    color: #000000;
}

.card-txt {
    font-size: 1.19rem;
    font-weight: 500;
}

.right {
    float: right;
}

.txt-color {
    color: white;
    display: flex;
    gap: 28px;
    flex-direction: column;
    font-size: 30px;
}

.bal {
    line-height: 2;
}

/* top container end */

.sm-container {
    max-width: 40%;
    margin: 10px 0px;
    /* border: 2px solid black; */
    padding: 20px;
    border-radius: 12px;
    line-height: 20px;
    background-color: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-circle {
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    display: flex;
}

.icon {
    display: flex;
    text-align: center;
    margin-top: 14px;
    margin-left: 10px;
    justify-content: center;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .space {
        padding: 12px 14px;
    }
}

@media (max-width: 909px) {
    .container {
        max-width: 100% !important;
        margin: 0;
        margin-right: 0;
        border-radius: 0;
    }

    .account-navbar {
        display: none;
        height: 0;
    }

    .account-profile {
        display: none;
    }

    .account-notify {
        display: flex;
        position: relative;
        top: 18px;
        right: 1px;
    }

    .wit-btn {
        padding: 6px 22px;
    }

    .card-txt {
        font-size: 1.1rem;
    }

    .space {
        border-radius: 26px 26px 0 0;
        padding-bottom: 70px;
    }

    body {
        background-color: #2a8fa1 !important;

    }
}

@media (min-width: 1159px) {
    .container {
        max-width: 34% !important;
    }
}