* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body {
    background-color: #e9e8e8;
    box-sizing: border-box;
}
/* nav abar start  */
.nav-btn {
    margin-right: 10px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
}

.nav-icon {
    margin-right: 6px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    /* border: 1px solid transparent; */
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    /* transition:none !important; */
}

.navbar {
    background-color: #ffffff;
    padding-top: 0rem;
    padding-bottom: 0rem;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}
.nav{
    justify-content: center;
    max-width: 850px;
    position: relative;
    max-height: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.nav .animation{
    position: absolute;
    height: 100%;
    top: 0 ;
    z-index: 0;
    background: #e9e8e8;
    border-radius: 8px 8px 0 0;
    transition: all .5s ease 0s;
}
.active{
    background: #e9e8e8;
 }
.nav a{
    text-transform: uppercase ;
    z-index: 1;
    display: inline-block;
}


a:nth-child(1){
    width: 120px;
}
.nav .start-home,a:nth-child(1):hover ~ .animation{
    left: -3px;
    width: 130px;
}

a:nth-child(2){
    width: 160px;
}
.nav .start-home,a:nth-child(2):hover ~ .animation{
    left: 130px;
    width: 160px;
}
a:nth-child(3){
    width: 120px;
}
.nav .start-home,a:nth-child(3):hover ~ .animation{
    left: 295px;
    width: 130px;
}
a:nth-child(4){
    width: 120px;
}
.nav .start-home,a:nth-child(4):hover ~ .animation{
    left: 430px;
    width: 130px;
}
a:nth-child(5){
    width: 170px;
}
.nav .start-home,a:nth-child(5):hover ~ .animation{
    left: 565px;
    width: 170px;
}
a:nth-child(6){
    width: 40px;
}
.nav .start-home,a:nth-child(6):hover ~ .animation{
    left: 740px;
    width: 60px;
}
a:nth-child(7){
    width: 40px;
}
.nav .start-home,a:nth-child(7):hover ~ .animation{
    left: 790px;
    width: 60px;
}
.nav .start-home,a:nth-child(8):hover ~ .animation{
    left: -9px;
    width: 0px;
}

/* nav bar end */

/* main contain css code start */
.mui-style-i25zsa {
    overflow-x: hidden;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
}

.mui-style-uswh42 {
    /* background-color: #ffffff; */
    min-height: 100%;
}

.mui-style-1b20r2p {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.14;
}

.mui-style-15nsdbm {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.mui-style-9w2uxm {
    padding: 28px 48px;
}

.mui-style-1k8enp3 {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 64px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
}

.mui-style-1t9yloc {
    display: grid;
    gap: 48px;
    margin-top: 48px;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.mui-style-vu0c92 {
    display: grid;
    gap: 24px;
    grid-auto-flow: row;
}

.mui-style-vu0c92>img {
    width: 100%;
    height: auto;
    max-width: 160px;
}

.mui-style-1a5pgu1 {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.mui-style-1p0kdaq {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}



.mui-style-1l8zf5i {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 64px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
}

.mui-style-1auz9ry {
    margin-top: 40px;
    display: grid;
    gap: 24px;
    grid-template-areas:
        'first'
        'second'
        'third'
        'fourth'
        'fifth';
}

.mui-style-1l8zf5i {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 64px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
}

.mui-style-1e00gcn {
    margin-top: 32px;
    display: grid;
    justify-items: start;
    gap: 16px;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    grid-template-areas:
        'first'
        'second'
        'third'
        'fourth'
        'fifth'
        'sixth'
        'seventh';
}

.mui-style-1istuw4 {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 32px;
    font-weight: 500;
}

.mui-style-1hbpqxq {
    position: absolute;
    top: 0;
    left: 32px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: grid;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    width: 48px;
    height: 48px;
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    background-color: #1976d2;
    border-radius: 50%;
    color: #fff;
}

.mui-style-1l8zf5i {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 64px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
}

.mui-style-1qo5fpr {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.mui-style-cn1wc5 {
    display: grid;
    gap: 8px;
    padding: 24px;
    background-color: #ffffffa5;
    border-radius: 32px;
    grid-area: first;
}

.mui-style-b9iq00 {
    display: grid;
    gap: 8px;
    padding: 24px;
    background-color: #FAF8F7;
    border-radius: 32px;
    grid-area: second;
}

.mui-style-148vbux {
    display: grid;
    gap: 8px;
    padding: 24px;
    background-color: #FAF8F7;
    border-radius: 32px;
    grid-area: third;
}

.mui-style-ztewth {
    display: grid;
    gap: 8px;
    padding: 24px;
    background-color: #FAF8F7;
    border-radius: 32px;
    grid-area: fourth;
}

.mui-style-1qkwuxu {
    display: grid;
    gap: 8px;
    padding: 24px;
    background-color: #FAF8F7;
    border-radius: 32px;
    grid-area: fifth;
}

.mui-style-1l8zf5i {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 64px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
}

.mui-style-1qo5fpr {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.mui-style-oxgvgf {
    display: grid;
    row-gap: 32px;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    margin-top: 56px;
}

.mui-style-8lvs2l {
    position: relative;
    padding: 44px 32px 40px;
    background-color: #FAF8F7;
    border-radius: 32px;
}

.mui-style-1hbpqxq {
    position: absolute;
    top: 0;
    left: 32px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: grid;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    width: 48px;
    height: 48px;
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    background-color: #1976d2;
    border-radius: 50%;
    color: #fff;
}

.mui-style-1a5pgu1 {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.mui-style-8lvs2l {
    position: relative;
    padding: 44px 32px 40px;
    background-color: #FAF8F7;
    border-radius: 32px;
}

.mui-style-8lvs2l {
    position: relative;
    padding: 44px 32px 40px;
    background-color: #FAF8F7;
    border-radius: 32px;
}

.mui-style-1h98ta4 {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 56px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.mui-style-1qo5fpr {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

/* footer css start*/
.px-5 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}
.transition-colors {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.text-primary-lighter {
    color: var(--color-primary-lighter);
}
.rounded-full {
    border-radius: 9999px;
}
.p-2 {
    padding: 0.5rem;
}
/* .footer{
    display:none ;
    visibility: hidden;
} */
/* footer css end */
@media (min-width: 600px) {
    .mui-style-9w2uxm {
        padding: 64px 48px;
    }

    .mui-style-1auz9ry {
        grid-template-areas:
            'first first'
            'second third'
            'fourth fourth'
            'fifth fifth';
    }

    .mui-style-1e00gcn {
        grid-template-areas:
            'first fourth'
            'second fifth'
            'third sixth'
            'seventh seventh';
    }

    .mui-style-vu0c92 {
        display: grid;
        gap: 24px;
        grid-auto-flow: row;
    }

    .mui-style-1hbpqxq {
        top: 32px;
        left: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    

}

@media (min-width: 905px) {
    .mui-style-vu0c92 {
        grid-auto-flow: column;
    }

    .mui-style-1t9yloc {
        grid-template-columns: 1fr 1fr;
    }


    /* footer css start*/
    .footer {
        display: none;
        visibility: hidden;
    }

    /* footer css end */
    

}

@media (min-width: 1200px) {
    /* .mui-style-vu0c92 {
        grid-auto-flow: column;
    } */
    /* nav{
        margin:0rem 9rem !important;
    } */
}
/* @media screen and (min-device-width: 1301px) and (max-device-width: 7068px) { 
    nav{
        margin:0rem 9rem !important;
    }
} */
@media (max-width: 909px) {
    .mov {
        display: none;
        visibility: hidden;
        float: left;
        margin-left: -110px;
    }
    .nav-btn{
        margin-right: 16px;
    }
    a:nth-child(6){
        width: 2px;
    }
    .nav .start-home,a:nth-child(6):hover ~ .animation{
        left: 0px;
        width: 0px;
    }
    a:nth-child(7){
        width: 0px;
    }
    .nav .start-home,a:nth-child(7):hover ~ .animation{
        left: 0;
        width: 0;
    }
    /* .mui-style-vu0c92 {
        grid-auto-flow: column;
    } */
}
@media only screen and (max-width: 600px){
.txt-color {
    color: white;
    display: flex;
    gap: 22px;
    flex-direction: column;
    font-size: 18px;
}
.mui-style-1b20r2p {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.14;
}
}